/* DEFAULT CSS ------------------------------------------------- */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* CUSTOM CSS ------------------------------------------------- */

/* Fonts // Copy as required ---------------------------------- */

.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* ------------------------------------------------------------ */

.appbody {
  width: 100vw;
  height: 100vh;
}


/* HEADER NAV -------------------------------------------- */

.customNav {
  background-color: #F74343;
  margin-bottom: 2px;
}

#navIcon {
  height: 1.5em;
}

.custom-nav-links {
  justify-content: flex-end;
}

.active-nav-link {
  justify-content: center;
  color: orange;
}

a:-webkit-any-link {
  text-decoration: none;
}

#hp-nav-home, #hp-nav-projects, #hp-nav-contact {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 0 2vw;
  font-size: 130%;
}


#hp-nav-home:hover, #hp-nav-projects:hover , #hp-nav-contact:hover {
  color: #FFD16C;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
  /* display: inline-flex; */
} 


/* HOMEPAGE -------------------------------------------- */

.mainhome {
  background-color: #F74343;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


#new-mainbody {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile-pic {
  width: 100%;
  max-width: 600px;
}

.home-action-box {
  position: absolute;
  top: 50vh;
  width: 95vw
}

.home-action {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #FFD16C;
}

.home-action:hover {
  color: white;
}

.action-row {
  position: relative;
  top: 45vh;  
}

@media only screen and (max-width: 767px) {

  #hp-nav-home, #hp-nav-projects, #hp-nav-contact {
    margin-left: auto;
  }

  #new-mainprofile {
    height: 45vh;
    order: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #new-mainprojects {
    height: 25vh;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #new-maincontact {
    height: 25vh;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #new-mainprojects:hover, #new-maincontact:hover {
    background-color: darkred;
  }

  .home-action {
    font-size: 250%
  }

  #profile-picid {
    width: 80%;
    max-width: 400px;
  }
}


/* PROJECTS -------------------------------------------- */

.mainprojects {
  background-color: #FFFEF5;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.projectbody {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
}

#projects-title h1, #projects-subtitle {
  font-family: "DM Serif Display", serif;
  font-size: 600%;
  font-weight: 400;
  font-style: normal;
}

#p-title-1 {
  color: #F74343;
  margin-bottom: 0;
}

#p-title-2 {
  color: #FFD16C;
}

#projects-subtitle {
  margin-bottom: 15%;
}

.project-info {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.project-container {
  justify-items: center;
}

.projects-wrapper {
  height: 75vh;
  width: 75vh;
  background-color: #F74343;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list-main {
  width: 80%;
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
}

/* .project-list {
  height: 100%;
} */

.customcarousel {
  /* background-color: purple; */
  height: 80%;
}

.project-name {
  color: black;
}

.project-img {
  height: 50px;
}

.project-icon {
  height: 2em; 
}

/* CONTACT -------------------------------------------- */

.maincontact {
  background-color: #FFD16C;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -1;
}

.contactbody {
  width: 100vw;
  height: 100vh;
  margin: 0;
}



.contact-buttons h5 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}